"*":
  Zen: {}
  "atom-beautify":
    _analyticsUserId: "d2608008-737b-4186-aaf0-2a940f1f3a23"
  "atom-clock":
    locale: "de"
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "atom-terminal":
    app: "Default: iTerm.app"
  "autoclose-html":
    additionalGrammars: [
      "\"*\""
    ]
    closeOnEndOfOpeningTag: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus": {}
  "autocomplete-ruby":
    rsensePath: "/Users/nerdbabe/.rvm/wrappers/ruby-2.2.0/rsense"
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "lorem-ipsum"
      "filetype-color"
      "w3c-validation"
      "whitespace"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/nerdbabe/Projects"
    telemetryConsent: "no"
    themes: [
      "twilightsparkle-ui"
      "twilightsparkle-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 400
    showIndentGuide: true
    showInvisibles: true
    softWrapHangingIndent: 10000
  "exception-reporting":
    userId: "36eba632-c5a8-91c8-6039-e5e09ae27d1f"
  "file-icons":
    forceShow: true
  "filetype-color":
    enabled: "true"
  fonts:
    fontFamily: "Hack"
  "git-log": {}
  "highlight-line": {}
  "isotope-ui":
    customBackgroundColorPicker:
      alpha: 1
      blue: 255
      green: 84
      red: 136
    fontWeight: "Regular"
  linter:
    errorPanelHeight: 24
    showErrorInline: true
  "linter-csslint":
    disableTimeout: true
  "linter-eslint": {}
  "linter-haml":
    executablePath: "/Users/nerdbabe/.rvm/wrappers/ruby-2.2.5/haml-lint"
  "linter-htmlhint":
    enabledScopes: [
      "text.html.angular"
      "text.html.basic"
      "text.html.gohtml"
      "text.html.jsp"
      "text.html.mustache"
    ]
  "linter-less": {}
  "linter-php": {}
  "linter-rubocop":
    command: "/Users/nerdbabe/.rvm/wrappers/ruby-2.2.0/rubocop"
  "linter-sass-lint":
    globalNodePath: "/usr/local"
    globalSassLint: true
  "linter-scss-lint":
    executablePath: "/Users/nerdbabe/.rvm/wrappers/ruby-2.2.0/scss-lint"
  "linter-stylelint":
    disableWhenNoConfig: false
    showIgnored: true
    useStandard: true
  "linter-xmllint":
    executablePath: "/usr/bin/xmllint"
  metrics:
    userId: "d7d2b907d09495b563dfc531bc3eb81f3abbca06"
  minimap: {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "release-notes":
    viewedVersion: "0.81.0"
  "seti-ui":
    font: "Default Atom Font"
    themeColor: "Purple"
  tabs: {}
  "twilightsparkle-ui":
    themeColor: "Purple"
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
