"*":
  Zen: {}
  "atom-beautify":
    _analyticsUserId: "d2608008-737b-4186-aaf0-2a940f1f3a23"
  "atom-clock":
    locale: "de"
  "atom-color-highlight":
    hideMarkersInComments: true
    hideMarkersInStrings: true
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "atom-terminal":
    app: "Default: iTerm.app"
  "autoclose-html":
    additionalGrammars: [
      "\"*\""
    ]
    closeOnEndOfOpeningTag: true
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "li"
    ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-ruby": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "lorem-ipsum"
      "filetype-color"
      "w3c-validation"
      "ide-yaml"
      "minimap"
      "metrics"
      "git-time-machine"
      "highlight-selected"
      "nyan-indent"
      "autocomplete-html-entities"
      "whitespace"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/nerdbabe/Projects"
    telemetryConsent: "no"
    themes: [
      "twilightsparkle-ui"
      "twilightsparkle-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    preferredLineLength: 300
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 10000
  "exception-reporting":
    userId: "36eba632-c5a8-91c8-6039-e5e09ae27d1f"
  "file-icons":
    forceShow: true
  "filetype-color":
    enabled: "true"
  fonts:
    fontFamily: "Fira Code"
  "git-log":
    fontFamily: "Fira Code"
  "highlight-line":
    underline: "dotted"
  "highlight-selected": {}
  "isotope-ui":
    customBackgroundColorPicker:
      alpha: 1
      blue: 255
      green: 84
      red: 136
    fontWeight: "Regular"
  linter: {}
  "linter-csslint":
    disableTimeout: true
  "linter-eslint": {}
  "linter-haml": {}
  "linter-less": {}
  "linter-php": {}
  "linter-rubocop":
    command: "/Users/nanoparsec/.rvm/gems/ruby-2.6.1/bin/rubocop"
  "linter-sass-lint":
    globalNodePath: "/usr/local"
    noConfigDisable: true
  "linter-scss-lint": {}
  "linter-stylelint":
    showIgnored: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    gutterPosition: "Left"
    panelHeight: 99
  "linter-xmllint":
    executablePath: "/usr/bin/xmllint"
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "d7d2b907d09495b563dfc531bc3eb81f3abbca06"
  minimap: {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    useEslint: true
  "release-notes":
    viewedVersion: "0.81.0"
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
    knownWords: [
      "complate"
      "Guides"
      "Bachelorarbeit"
      "Wartbarkeit"
      "modulare"
      "Viewports"
      "Responsive"
      "modular"
      "Frontends"
      "Implementierungsansatz"
      "Templatesprache"
      "Templates"
      "Präsentationslogik"
      "Markups"
      "Wroblewski"
      "Marcotte"
      "Haml"
      "Templatesprachen"
      "Web-Frontend"
      "Frontend-Code"
      "Frontend"
      "fractal"
      "Entwickler"
      "internetfähiger"
      "Nebenprojekt"
      "mustache"
    ]
    localePaths: [
      "/System/Library/Assets/"
    ]
    locales: [
      "de-DE"
    ]
  "split-diff":
    ignoreWhitespace: true
  tabs: {}
  "terminal-plus":
    ansiColors:
      normal:
        blue: "#007ef2"
        cyan: "#00b7ee"
        green: "#00c964"
        red: "#f5348e"
      zBright:
        brightRed: "#ff3296"
    core: {}
    iconColors:
      green: "#00c964"
      orange: "#ffc016"
      pink: "#f5348e"
      purple: "#c8abf5"
      red: "#ff3296"
    style:
      theme: "dracula"
    toggles: {}
  "tree-view": {}
  "twilightsparkle-ui":
    themeColor: "Purple"
  welcome:
    showOnStartup: false
  whitespace: {}
  wordcount:
    goal: 25000
    goalBgColor: "#c72fc7"
    goalColor: "#01d704"
    ignorecode: true
    ignorecomments: true
".basic.html.text":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".md.text":
  editor:
    showIndentGuide: false
    showInvisibles: false
    softWrapAtPreferredLineLength: true
